/* SEARCHBAR
   ========================================================================== */

WSearchLineEdit {
    min-height: 44px;
    padding: 9px 6px 6px 16px;
    border: 0;
    border-radius: 8px;
    margin: 9px 0 6px 0;
    font-size: 20px;
    background-color: #000000;
    color: #ffffff;
}

WSearchLineEdit:focus {
    min-height: 44px;
    padding: 9px 6px 6px 16px;
    border: 0;
    border-radius: 8px;
    margin: 9px 0 6px 0;
    font-size: 20px;
    background-color: #2a2a2a;
    color: #ffffff;
}


/* SIDEBAR
   ========================================================================== */

/**
 * Default Styles/Resets
 */
#Sidebar {
    border: 0;
    border-radius: 0;
    background: #000000;
    margin: 0;
    padding: 0;
    height: 0;
    width: 0;
}

QTreeView {
    border: 0;
    show-decoration-selected: 0;
    outline: none;
    background: transparent;
    font-size: 20px;
    color: #ffffff;
}

/**
 * TreeView-Items
 */
QTreeView::item {
    border: 0;
    width: 400px;
    height: 44px;
    padding-left: 18px;
}

QTreeView::item:hover {
    background: transparent;
}

QTreeView::item:selected:active {
    background-color: #39ff14;
    color: #000000;
}

QTreeView::item:selected:!active {
    background-color: #39ff14;
    color: #000000;
}

/**
 * TreeView-Branches
 */
QTreeView::branch:selected:active {
    background-color: #39ff14;
}

QTreeView::branch:selected:!active {
    background-color: #39ff14;
}

QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings {
    border-image: none;
    image: url(skin:/style/branch_closed.svg);
}

QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings {
    border-image: none;
    image: url(skin:/style/branch_open.svg);
}

QTreeView::branch:has-siblings:!adjoins-item {
    border-image: url(skin:/style/branch_line.svg) 0;
}

QTreeView::branch:has-siblings:adjoins-item {
    border-image: url(skin:/style/branch_more.svg) 0;
}

QTreeView::branch:!has-children:!has-siblings:adjoins-item {
    border-image: url(skin:/style/branch_end.svg) 0;
}

/* SPLITTER
   ========================================================================== */

QSplitter {
    width: 4px;
    margin: 0;
    padding: 0;
    border: 0;
}

QSplitter::handle {
    image: url(skin:/style/handle_unchecked.svg);
    background: none;
    width: 4px;
    margin: 0;
    padding: 0;
}

QSplitter::handle:vertical {
    background: none;
    margin: 0;
    padding: 0;
    width: 0;
}

QSplitter::handle:pressed {
    image: url(skin:/style/handle_checked.svg);
    background: none;
}

/* LIBRARY TRACKTABLE
   ========================================================================== */

/**
 * Default Styles/Resets
 */
#Library {
    border: 0;
    border-radius: 0;
    background: #000000;
    margin: 0;
    padding: 0;
    height: 0;
    width: 0;
}

QHeaderView {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    border-bottom: 2px solid #777777;
    background-color: #000000;
    text-transform: uppercase;
}

QHeaderView::section {
    height: 44px;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 16px 0 0 3px;
    background: transparent;
    color: #ffffff;
    border-radius: 0;
}

QHeaderView::section:selected {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    background: transparent;
    color: #ffffff;
}

QHeaderView::up-arrow {
	image: url(skin:/style/sort_up.svg);
}

QHeaderView::down-arrow {
	image: url(skin:/style/sort_down.svg);
}

QTableView {
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    border-radius: 0;
    font-size: 20px;
    background: transparent;
    color: #ffffff;
    alternate-background-color: #2a2a2a;
}

QTableView QLineEdit {
    background: #39ff14;
    selection-background-color: #000000;
}

QTableView::item:selected,
QTableView::item:selected:!active {
    selection-background-color: #39ff14;
    background-color: #39ff14;
    color: #000000;
    outline: none;
}

QTableView::item {
    height: 44px;
    padding: 8px 0;
}

QTableView::item:!selected {
    background: transparent;
    outline: none;
}

/**
 * Played Column
 */
QTableView::indicator {
    width: 12px;
    height: 12px;
    border: none;
    background: transparent;
    outline: none;
}

QTableView::indicator:checked {
    background: transparent url(skin:/style/checked.svg);
}

QTableView::indicator:unchecked {
    background: transparent url(skin:/style/unchecked.svg);
}

/**
 * Preview Column
 */
#LibraryPreviewButton {
    width: 12px;
    height: 12px;
    border: none;
    background: transparent;
    outline: none;
}

#LibraryPreviewButton:checked {
    image: url(skin:/style/preview_pause.png);
    outline: none;
    border: none;
}

#LibraryPreviewButton:!checked {
    image: url(skin:/style/preview_play.png);
    outline: none;
    border: none;
}

/**
 * BPM Column
 */
#LibraryBPMButton {
    margin: 0;
    padding: 0;
    width: 12px;
    height: 12px;
    border: 0;
    color: #ffffff;
    outline: none;
}

#LibraryBPMButton::indicator:checked {
    image: url(skin:/style/checked.svg);
}

#LibraryBPMButton::indicator:!checked {
    image: url(skin:/style/unchecked.svg);
}

#LibraryBPMButton::item:selected {
    color: #000000;
    background-color: #39ff14;
}


/* LIBRARY TOP UI-ELEMENTS
   ========================================================================== */

/**
 * QPushButton Default Styles
 */
#DlgMissing > QPushButton,
#DlgHidden > QPushButton,
#DlgAutoDJ > QPushButton,
#DlgRecording > QPushButton,
#DlgAnalysis > QPushButton {
    height: 56px;
    padding: 0 44px;
    text-transform: uppercase;
    font-size: 20px;
    color: #000000;
    background-color: #777777;
    border: none;
    border-radius: none;
    outline: none;
}

#DlgMissing > QPushButton:!enabled,
#DlgHidden > QPushButton:!enabled,
#DlgAutoDJ > QPushButton:!enabled,
#DlgRecording > QPushButton:!enabled,
#DlgAnalysis > QPushButton:!enabled {
    color: #aaaaaa;
    background-color: #3a3a3a;
}

#DlgMissing > QPushButton:hover,
#DlgHidden > QPushButton:hover,
#DlgAutoDJ > QPushButton:hover,
#DlgAutoDJ > QSpinBox::up-button:hover,
#DlgAutoDJ > QSpinBox::down-button:hover,
#DlgRecording > QPushButton:hover,
#DlgAnalysis > QPushButton:hover {
    background-color: #444444;
}

#DlgMissing > QPushButton:checked,
#DlgHidden > QPushButton:checked,
#DlgAutoDJ > QPushButton:checked,
#DlgRecording > QPushButton:checked,
#DlgAnalysis > QPushButton:checked {
    background-color: #5cff2e;
}

#DlgMissing > QPushButton:checked:hover,
#DlgHidden > QPushButton:checked:hover,
#DlgAutoDJ > QPushButton:checked:hover,
#DlgRecording > QPushButton:checked:hover,
#DlgAnalysis > QPushButton:checked:hover {
    background-color: #44dd55;
}

/**
 * QLabel Default Styles
 */
#DlgAutoDJ > QLabel,
#DlgRecording > QLabel,
#DlgAnalysis > QLabel {
    height: 56px;
    padding: 0 44px;
    min-width: 0;
    text-transform: uppercase;
    font-size: 20px;
    color: #000000;
    background-color: #777777;
    border: none;
    border-radius: 0;
    outline: none;
}

#DlgAutoDJ > QLabel:!enabled,
#DlgRecording > QLabel:!enabled,
#DlgAnalysis > QLabel:!enabled {
    background: transparent;
    color: transparent;
}

/**
 * dlgautodj.ui
 */
#DlgAutoDJ > QPushButton#pushButtonShuffle {
    margin: 9px 1px 13px 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#DlgAutoDJ > QPushButton#pushButtonAddRandom {
    margin: 9px 1px 13px 0;
}

#DlgAutoDJ > QPushButton#pushButtonSkipNext {
    margin: 9px 1px 13px 0;
}

#DlgAutoDJ > QPushButton#pushButtonFadeNow {
    margin: 9px 1px 13px 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#DlgAutoDJ > QSpinBox#spinBoxTransition {
    min-height: 56px;
    margin: 9px 0 13px 10px;
    padding: 0 44px;
    font-size: 20px;
    color: #000000;
    background-color: #777777;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#DlgAutoDJ > QSpinBox#spinBoxTransition:editable {
    background: transparent;
    color: #000000;
}

#DlgAutoDJ > QSpinBox#spinBoxTransition::up-button {
    padding: 0;
    margin: 0;
    width: 22px;
    height: 23px;
    border: 0;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    outline: none;
}

#DlgAutoDJ > QSpinBox::up-arrow {
    image: url(skin:/style/arrow_up.svg);
    width: 7px;
    height: 7px;
}

#DlgAutoDJ > QSpinBox#spinBoxTransition::down-button {
    padding: 0;
    margin: 0;
    width: 22px;
    height: 22px;
    border: 0;
    border-top: 0 solid #000000;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    outline: none;
}

#DlgAutoDJ > QSpinBox::down-arrow {
    image: url(skin:/style/arrow_down.svg);
    width: 7px;
    height: 7px;
}

#DlgAutoDJ > QLabel#labelTransitionAppendix {
    margin: 9px 0 13px 0;
    padding: 0 44px 0 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#DlgAutoDJ > QLabel#labelSelectionInfo {
    margin: 9px 10px 13px 0;
    border-radius: 5px;
}

#DlgAutoDJ > QPushButton#pushButtonAutoDJ {
    margin: 9px 10px 13px 0;
    border-radius: 5px;
}

/**
 * dlgmissing.ui
 */
#DlgMissing > QPushButton#btnSelect {
    margin: 9px 1px 13px 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#DlgMissing > QPushButton#btnPurge {
    margin: 9px 10px 13px 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/**
 * dlghidden.ui
 */
#DlgHidden > QPushButton#btnSelect {
    margin: 9px 1px 13px 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#DlgHidden > QPushButton#btnPurge {
    margin: 9px 1px 13px 0;
}

#DlgHidden > QPushButton#btnUnhide {
    margin: 9px 10px 13px 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/**
 * dlgrecording.ui
 */
#DlgRecording > QLabel#label {
    margin: 9px 10px 13px 0;
    border-radius: 5px;
}

#DlgRecording > QPushButton#pushButtonRecording {
    margin: 9px 10px 13px 0;
    border-radius: 5px;
}

/**
 * dlganalysis.ui
 */
WLibrary QRadioButton {
    color: #ffffff;
    margin: 12px 10px 6px 0px;
    outline: none;
}

WLibrary QRadioButton::indicator {
    height: 12px;
    width: 12px;
    margin: 0px 5px 0px 2px;
}

WLibrary QRadioButton#radioButtonRecentlyAdded {
    margin: 12px 10px 6px 14px;
}

WLibrary QRadioButton::indicator:checked {
    background: url(skin:/style/checked.svg);
}

WLibrary QRadioButton::indicator:unchecked {
    background: url(skin:/style/unchecked.svg);
}


#DlgAnalysis > QLabel#labelProgress {
    margin: 9px 10px 13px 0;
    border-radius: 5px;
}

#DlgAnalysis > QPushButton#pushButtonSelectAll {
    margin: 9px 1px 13px 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#DlgAnalysis > QPushButton#pushButtonAnalyze {
  margin: 9px 10px 13px 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


/* TEXTBROWSER
   ========================================================================== */

QTextBrowser {
    border: 0;
    padding: 27px;
    margin: 0;
    border-radius: 0;
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
}


